# Copier en variables.tfvars puis : terraform apply -var-file=variables.tfvars
vpc-name      = "Jenkins-vpc"
igw-name      = "Jenkins-igw"
subnet-name   = "Jenkins-subnet"
rt-name       = "Jenkins-route-table"
sg-name       = "Jenkins-sg"
instance-name = "Jenkins-server"
key-name      = "<nom-de-ta-key-pair-ec2>"
iam-role      = "Jenkins-iam-role"